/** BG_position_editor.css */

input,select,button{
  font-size:100%;
}

/* ボードエリア */
.boardeditor{
  background-color:#eee;
  border-color:#000;
  border-width:4px;
  border-style:solid;
  border-collapse:collapse;
}
.boardeditor tr{
  text-align:center;
}
.boardeditor td{
  border-width:0px 2px; /* 罫線を左右だけ引く */
  border-color:#ccc;
  border-style:solid;
  padding:0.2em;
}
.boardeditor input{
  text-align:center; /* ダイスは中央揃え */
}
.boardeditor .vtop{
  vertical-align:top; /* ボードの上半分は上寄せ */
}
.boardeditor .vbottom{
  vertical-align:bottom; /* 下寄せ */
}
.bgc1{
  background-color:#fef;
}
.bgc2{
  background-color:#eff;
}
.bgc3{
  background-color:#fff;
}
.area{
  width:3em;
}
.match_mode{
  display:none; /* ゲームモード初期値は money game とし、match gameは初期非表示 */
}
.money_mode{
}
.rotation_fwd{
}
.rotation_rev{
  display:none; /* 初期設定はCW(fwd)で手前側の手番。なのでこれは非表示 */
}
.turn0{
}
.turn1{
  display:none; /* 同上 */
}

/* XG Font Board */
@font-face{
  font-family:'XGFont';
  src:url('/webfonts/extreme-gammon.woff2') format('woff2'),
  url('/webfonts/extreme-gammon.woff') format('woff'),
  url('/webfonts/extreme-gammon.ttf') format('truetype');
}
.eXtremeFont{
  font-family:'XGFont';
  font-size:1.5em;
}
/* Text Board */
.txtboard{
  font-size:1.2em;
}
